<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Dev</display-name>
  <servlet>
    <servlet-name>PDFLoader</servlet-name>
    <servlet-class>PDFLoad</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>Main</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>SignIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>UpdateUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListPDF</servlet-name>
    <servlet-class>ListPDF</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertMappedFields</servlet-name>
    <servlet-class>InsertMappedFields</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FinishPDF</servlet-name>
    <servlet-class>GenPDF</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FillPDF</servlet-name>
    <servlet-class>FillPDF</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertMappingField</servlet-name>
    <servlet-class>InsertMappingField</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMappingFields</servlet-name>
    <servlet-class>GetMappingFields</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMappedField</servlet-name>
    <servlet-class>GetMappedField</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSecondary</servlet-name>
    <servlet-class>UpdateSecondary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMappingField</servlet-name>
    <url-pattern>/InsertMappingField</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMappingFields</servlet-name>
    <url-pattern>/GetMappingFields</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PDFLoader</servlet-name>
    <url-pattern>/UploadPDF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertMappedFields</servlet-name>
    <url-pattern>/InsertMappedFields</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSecondary</servlet-name>
    <url-pattern>/UpdateSecondary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListPDF</servlet-name>
    <url-pattern>/ListPDF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FinishPDF</servlet-name>
    <url-pattern>/FillPDF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FillPDF</servlet-name>
    <url-pattern>/FinPDF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMappedField</servlet-name>
    <url-pattern>/GetMappedField</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>